header {
    background-color: #F4F6FC;
    text-align: center;
    padding: 40px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.sign-in {
    background-color: rgba(156, 105, 226, 1);;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    width: 59px;
    height: 26px;
    top: 66px;
    left: 1392px;
    gap: 0px;
    opacity: 0px;
    margin-left: 20px;

}