.banner {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Hai cột cho giao diện */
  grid-template-rows: auto;
  gap: 0; /* Khoảng cách giữa các phần tử */
}

.banner_child {
  grid-column: 1; /* Chiếm một cột trong chế độ desktop */
  color: var(--2, #212353);
  font-family: Helvetica, sans-serif;
  text-align: left;
}


.banner_p {
  color: var(--1, #4B5D68);
  font-family: Avenir, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 20px;
  margin-right: 50px;
}

.banner_button {
  border-radius: 50px;
  background: var(--3, #9C69E2);
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
  border: none;
  height: 40px;
  width: 150px;
  cursor: pointer;
  color: white;
  margin-top: 20px;
  grid-column: 1; /* Đảm bảo nút nằm trong cột mà bạn muốn */
  justify-self: start; /* Đặt nút nằm ở phía bên trái của cột */
}

.banner_img {
  width: 100%;
  margin-top: 90px;
  max-width: 700px;
  grid-column: 2; /* Chiếm cột thứ hai trong chế độ desktop */
  grid-row: 1 / span 2;
  z-index: 1;
}

.banner_img img {
  width: 100%;
  height: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner_img {
  animation: fadeIn 2s ease-in-out; /* Hiệu ứng fade in */
}

/* Responsive Design */

/* Mobile Devices */
@media only screen and (max-width: 600px) {
  .banner {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-items: center;
  }

  .banner_child {
    font-size: 28px;
    grid-column: 1 / -1; /* Chiếm toàn bộ cột */
    
  }

  .banner_p {
    font-size: 16px;
  }

  .banner_button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .banner_img {
    width: 100%;
    max-width: none;
    grid-column: 1 / -1; /* Chiếm toàn bộ cột */
    margin-top: 20px; /* Thay đổi khoảng cách cho phù hợp với các phần tử khác */
  }
}

/* Tablet Devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .banner {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-items: center;
  }

  .banner_child {
    font-size: 32px;
    grid-column: 1 / -1; /* Chiếm toàn bộ cột */
  }

  .banner_p {
    font-size: 18px;
  }

  .banner_button {
    width: 200px;
    padding: 10px;
    font-size: 16px;
  }

  .banner_img {
    width: 100%;
    max-width: none;
    grid-column: 1 / -1; /* Chiếm toàn bộ cột */
    margin-top: 20px; /* Thay đổi khoảng cách cho phù hợp với các phần tử khác */
  }
}

/* Desktop Devices */
@media only screen and (min-width: 1025px) {
  .banner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .banner_child {
    font-size: 38px;
    grid-column: 1; /* Chiếm cột thứ nhất */
  }

  .banner_p {
    font-size: 20px;
  }

  .banner_button {
    width: 150px;
    padding: 10px;
    font-size: 16px;
  }

  .banner_img {
    width: auto;
    height: auto;
    grid-column: 2; /* Chiếm cột thứ hai */
  }
}
